@import "tailwindcss";

@theme {
  --color-dark-bg: #000000;
  --color-dark-blue: #000814;
  --color-dark-blue-2: #001122;
  --color-dark-blue-3: #001a33;
}

@layer base {
  body {
    @apply bg-black text-white min-h-screen antialiased;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/5 border border-white/10;
  }

  .star {
    @apply absolute rounded-full bg-white;
    animation: twinkle 4s ease-in-out infinite;
  }

  .star-delay-1 {
    animation-delay: 0.5s;
    animation-duration: 5s;
  }

  .star-delay-2 {
    animation-delay: 1s;
    animation-duration: 6s;
  }

  .star-delay-3 {
    animation-delay: 1.5s;
    animation-duration: 4.5s;
  }

  .star-delay-4 {
    animation-delay: 2s;
    animation-duration: 5.5s;
  }

  .star-delay-5 {
    animation-delay: 2.5s;
    animation-duration: 6.5s;
  }

  .star-delay-6 {
    animation-delay: 3s;
    animation-duration: 4s;
  }
}

@keyframes twinkle {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
}

